body {
	background-image:url('images/back-1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Menu de navegação*/
#menu {
	margin-top:  10px;
	position: fixed;
}

li {
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#imenu {
	color: white;
	font-size: 100%;
}

/* About me config*/
#aboutme{
	margin-top: 10px;
	padding: 40px;
	background-color: white;
}

#photo{
	width: 180px;
	height: 180px;
}

#myname{
	text-align: center; 
	font-family: courier;
}

/* responsive aboutme */
@media screen and (max-width: 1550px){
	#myname{
		font-size: 25px;
	}
	#photo{
		width: 160px;
		height: 160px;
	}
}

@media screen and (max-width: 1380px){
	#photo{
		margin-left: -20px;
	}
}

@media screen and (max-width: 1200px){
	#photo{
		display: block;
		margin: 0 auto;
		margin-bottom: 20px; 
	}
	#menu{
		visibility: hidden;
	}
}

@media screen and (max-width: 575px){
	#facebook{
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	#github{
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	#linkedin{
		display: block;
		margin: 0 auto;
	}
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github{
	background: grey;
	color: white;
}

.fa-linkedin{
	background: #007bb5;
  	color: white;
}

#resume{
	margin-top: 10px;
	background-color: white;
	height: 100vh;
}

#portfolio{
	margin-top: 10px;
	background-color: white;
	height: 100vh;
}