body {
	background-image:url('images/back-1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Certificado */
#certificate {
	margin-top:  10px;
	position: fixed;	
}

/* Menu de navegação*/
#menu {
	margin-top:  10px;
	position: fixed;
}

li {
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#imenu {
	color: white;
	font-size: 100%;
}

/* About me config*/
#aboutme{
	margin-top: 10px;
	padding: 40px;
	background-color: white;
}

#photo{
	width: 180px;
	height: 180px;
}

#myname{
	text-align: center; 
	font-family: courier;
}

/* responsive aboutme */
@media screen and (max-width: 1550px){
	#myname{
		font-size: 25px;
	}
	#photo{
		width: 160px;
		height: 160px;
	}
}

@media screen and (max-width: 1380px){
	#photo{
		margin-left: -20px;
	}
}

@media screen and (max-width: 1200px){
	#photo{
		display: block;
		margin: 0 auto;
		margin-bottom: 20px; 
	}
	#menu{
		visibility: hidden;
	}
}

@media screen and (max-width: 575px){
	#facebook{
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	#github{
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	#linkedin{
		display: block;
		margin: 0 auto;
	}
}

/* social network buttons*/
.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
	color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github{
	background: grey;
	color: white;
}

.fa-linkedin{
	background: #007bb5;
  	color: white;
}


/* Resume */
#resume{
	margin-top: 10px;
	background-color: white;
}

h1{
	margin-top: 20px;
	margin-left: 20px;
	font-family: courier;
	text-align: center;
	margin-bottom: 20px;
}

.work li span{
	float: right;
}

.work li {
    border-bottom: 1px solid #9ba9ad;
    margin-bottom: 2em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.label {
  display: inline;
  padding: .25em .6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-info {
  background-color: #5bc0de;
}

.no-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.progress{
	width: 100%;
	height: 25px;
	margin-bottom: 10px;
}

.progress-bar{
	text-align: left;
	font-weight: bold;
}

#portfolio{
	margin-top: 10px;
	background-color: white;
}

.back-to-top {
	position: fixed;
	bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
   	background-color:rgb(51, 173, 255);
    font-size: 12px;
    padding: 1em;
}

.back-to-top:hover{
	color: white;
}